.idk {
    text-align: center;
}
  .underr {
    width: 260px;
    margin-left: 1px;
  }
  .login {
      margin-left: 600px;
  }

  .line {
      width: 300px;
      margin-left: -28px;
  }

  .pgb {
    margin-left: 1000px;
    margin-top: -240px;
  }

  .buttonnn {
    border: none;
    padding: 0;
    background: none;
    text-decoration: underline;
    color: black;
  }

  